/node_modules
/public/hot
/public/storage
/public/ERD.mwb
/public/ERD.mwb.bak
/public/ERD.png
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
